body {
    /*
    font-family: Iosevka, monospace;
    */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding: 10px;
}

#brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#brand a {
    color: var(--fontcolor);
    text-decoration: none;
}

#brand h1, #brand h3 {
    margin: 0;
}

#brand h1 {
    font-size: 30px;
}

#brand h3 {
    font-size: 20px;
    font-weight: normal;
}

#brand .icon {
    width: 75px;
}

footer {
    margin-top: 20px;
}

header nav {
    margin: 15px 0;
}

header nav a, header nav span {
    padding-right: 10px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        margin-top: 25px;
    }

    #brand {
        flex-direction: row;
        text-align: unset;
    }

    #brand .text {
        /*
        margin-left: 10px;
        */
    }

    #brand h1 {
        font-size: 45px;
    }

    #brand h3 {
        font-size: 25px;
    }
}

div.post-meta {
    padding-bottom: 5px;
}

#postsByDate {
    list-style: none;
}

#postsByDate .date {
    width: 60px;
}

#postsByDate div, #postsInOneGroup div {
    display: inline-block;
}

#terms {
    list-style: none;
}

#terms .term {
    background-color: #ddd;
    border-radius: 10px;
    display: inline-block;
    margin: 2px;
    padding: 8px;
}

.page-navigator {
    /*
    text-align: center;
    margin-top: 36px;
    */
    list-style: none;
    padding: 0;
}

.page-navigator li {
    display: inline-block;
    /*
    padding: 0 5px;
    */
    padding-right: 5px;
}

.page-navigator li.current a {
    text-decoration: underline;
}

#textarea {
    max-width: 100%;
}

#comments, #response {
    margin-top: 10px;
}

#comments ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#comments li.comment-body {
    font-size: 14px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    word-break: break-all;
}

#comments li.comment-body li.comment-body {
    margin-left: 60px;
}

img.avatar {
    float: left;
    margin-right: 10px;
}

#comment-form label {
    display: block;
}

.comment-author, .comment-meta {
    line-height: 18px;
    font-size: 13px;
}

.comment-author cite {
    font-style: normal;
}

.comment-content {
    margin: 10px 0;
    line-height: 20px;
}

/*
.respond {
    margin-top: 20px;
}
*/

div.summary-body > p {
    word-break: break-all;
}
